@use "../utils/media";
@use "../utils/mixins";

.product-card {

    &__img-wr {
        border-radius: .62rem;

        &::after {
            @include mixins.pseudo(block, relative);
            padding-top: 134%;
            width: 100%;
        }

        @include mixins.hover {
            .product-card {
                &__main-img {
                    @include mixins.el-hide;
                }

                &__odd-img {
                    @include mixins.el-show;
                }
            }
        }
    }

    &__info {
        padding: var(--size_8) calc(var(--size_8) / 2) 0;
    }

    &__heading {
        gap: var(--size_8);
        font-size: var(--size_12);
        line-height: 1.2;
        margin-block-end: auto;
    }

    &__status {
        font-size: var(--size_10);
        line-height: 1.2;
        margin-block-start: var(--size_8);
        color: var(--color_grey-200);
        
        &--pos {
            color: var(--color_green);
        }
    }
    
    &__btn {
        padding: var(--size_12);
        z-index: 0;
        gap: var(--size_8);
    }
}
// End inner


@include media.L {
    .product-card {
        &__img-wr {
            border-radius: 1.2em;
        }

        &__info {
            padding:  var(--size_12) var(--size_8) 0;
        }
    
        &__heading {
            font-size: var(--size_16);
        }
    
        &__status {
            line-height: 1.5;
            font-size: var(--size_14);
        }
        
        &__btn {
            padding: var(--size_10);
            margin-block-start: var(--size_12);

            .btn__content {
                gap: var(--size_16);
            }
            
            svg {
                @include mixins.square(var(--size_24));
            }
        }
    }
    // End inner
}
// End L

@include media.XL {
    .product-card {
        &__img-wr {
            &::after {
                padding-top: 138.7%;
            }
        }
        
    }
    // End inner
}
// End XL