@use "../utils/media";

.section {
    &--pt {
        // 20 - 50
        &_XS {
            padding-block-start: var(--size_20);
        }

        // 40 - 50
        &_S {
            padding-block-start: var(--size_40);
        }

        // 80 - 100
        &_M {
            padding-block-start: var(--size_80);
        }
    }

    &--pb {
        // 20
        &_XS {
            padding-block-end: var(--size_20);
        }

        // 40 - 50
        &_S {
            padding-block-end: var(--size_40);
        }
        // 80 - 100

        &_M {
            padding-block-end: var(--size_80);
        }
    }
}
// End inner


@include media.L {
    .section {
        &--pt {
            // 20 - 50, 40-50
            &_XS, &_S {
                padding-block-start: var(--size_50);
            }
    
            // 80 - 100
            &_M {
                padding-block-start:var(--size_100);
            }
        }
    
        &--pb {
            // 20 - 50, 40-50
            &_XS, &_S {
                padding-block-end: var(--size_50);
            }

            // 80 - 100
            &_M {
                padding-block-end: var(--size_100);
            }
        }
    }
    // End inner
}
// End L