@use "./media";

:root {
    --font__general: "Montserrat", sans-serif;
    --font__title: "Segoe Script", "Montserrat", sans-serif;
    --transition: 0.3s ease-in-out;

    --color_black: #1b1919;
    --color_clear-white: #ffffff;
    --color_white: #f6f6f6;
    --color_white-200: #f2f2f2;
    --color_accent: #e4c9ac;
    --color_accent-200: #faf0e6;
    --color_accent-300: #e5bf96;
    --color_accent-400: #d9b083;
    --color_green: #3b5c38;
    --color_grey: #c6c6c6;
    --color_grey-200: #acacac;

    --header-height: var(--size_68);

    --size_8: 2.22vw;
    --size_10: 2.78vw;
    --size_12: 3.33vw;
    --size_14: 3.89vw;
    --size_15: 4.17vw;
    --size_16: 4.44vw;
    --size_18: 5vw;
    --size_20: 5.56vw;
    --size_22: 6.11vw;
    --size_24: 6.67vw;
    --size_26: 7.22vw;
    --size_28: 7.78vw;
    --size_30: 8.33vw;
    --size_32: 8.89vw;
    --size_34: 9.44vw;
    --size_36: 10vw;
    --size_38: 10.56vw;
    --size_40: 11.11vw;
    --size_41: 11.39vw;
    --size_42: 11.67vw;
    --size_44: 12.22vw;
    --size_45: 12.5vw;
    --size_48: 13.33vw;
    --size_50: 13.89vw;
    --size_52: 14.44vw;
    --size_55: 15.28vw;
    --size_56: 15.56vw;
    --size_60: 16.67vw;
    --size_64: 17.78vw;
    --size_68: 18.89vw;
    --size_70: 19.44vw;
    --size_72: 20vw;
    --size_75: 20.83vw;
    --size_80: 22.22vw;
    --size_82: 22.78vw;
    --size_86: 23.89vw;
    --size_88: 24.44vw;
    --size_90: 25vw;
    --size_94: 26.11vw;
    --size_96: 26.67vw;
    --size_100: 27.78vw;
    --size_106: 29.44vw;
    --size_110: 30.56vw;
    --size_112: 31.11vw;
    --size_120: 33.33vw;
    --size_126: 35vw;
    --size_130: 36.11vw;
    --size_132: 36.67vw;
    --size_144: 40vw;
    --size_150: 41.67vw;
    --size_200: 55.56vw;
}

@include media.M {
    :root {
        --size_8: 1.25vw;
        --size_10: 1.56vw;
        --size_12: 1.88vw;
        --size_14: 2.19vw;
        --size_15: 2.34vw;
        --size_16: 2.5vw;
        --size_18: 2.81vw;
        --size_20: 3.12vw;
        --size_22: 3.44vw;
        --size_24: 3.75vw;
        --size_26: 4.06vw;
        --size_28: 4.38vw;
        --size_30: 4.69vw;
        --size_32: 5vw;
        --size_34: 5.31vw;
        --size_36: 5.63vw;
        --size_38: 5.94vw;
        --size_40: 6.25vw;
        --size_41: 6.41vw;
        --size_42: 6.56vw;
        --size_44: 6.88vw;
        --size_45: 7.03vw;
        --size_48: 7.5vw;
        --size_50: 7.81vw;
        --size_52: 8.13vw;
        --size_55: 8.59vw;
        --size_56: 8.75vw;
        --size_60: 9.38vw;
        --size_64: 10vw;
        --size_68: 10.62vw;
        --size_70: 10.94vw;
        --size_72: 11.25vw;
        --size_75: 11.72vw;
        --size_80: 12.5vw;
        --size_82: 12.81vw;
        --size_86: 13.44vw;
        --size_88: 13.75vw;
        --size_90: 14.06vw;
        --size_94: 14.69vw;
        --size_96: 15vw;
        --size_100: 15.63vw;
        --size_106: 16.56vw;
        --size_110: 17.19vw;
        --size_112: 17.5vw;
        --size_120: 18.75vw;
        --size_126: 19.69vw;
        --size_130: 20.31vw;
        --size_132: 20.63vw;
        --size_144: 22.5vw;
        --size_150: 23.44vw;
        --size_200: 31.25vw;
    }
}

@include media.L {
    :root {
        --size_8: 0.67vw;
        --size_10: 0.83vw;
        --size_12: 1vw;
        --size_14: 1.17vw;
        --size_15: 1.25vw;
        --size_16: 1.33vw;
        --size_18: 1.5vw;
        --size_20: 1.67vw;
        --size_22: 1.83vw;
        --size_24: 2vw;
        --size_26: 2.17vw;
        --size_28: 2.33vw;
        --size_30: 2.5vw;
        --size_32: 2.67vw;
        --size_34: 2.83vw;
        --size_36: 3vw;
        --size_38: 3.17vw;
        --size_40: 3.33vw;
        --size_41: 3.42vw;
        --size_42: 3.5vw;
        --size_44: 3.67vw;
        --size_45: 3.75vw;
        --size_48: 4vw;
        --size_50: 4.17vw;
        --size_52: 4.33vw;
        --size_55: 4.58vw;
        --size_56: 4.67vw;
        --size_60: 5vw;
        --size_64: 5.33vw;
        --size_68: 5.67vw;
        --size_70: 5.83vw;
        --size_72: 6vw;
        --size_75: 6.25vw;
        --size_80: 6.67vw;
        --size_82: 6.83vw;
        --size_86: 7.17vw;
        --size_88: 7.33vw;
        --size_90: 7.5vw;
        --size_94: 7.83vw;
        --size_96: 8vw;
        --size_100: 8.33vw;
        --size_106: 8.83vw;
        --size_110: 9.17vw;
        --size_112: 9.33vw;
        --size_120: 10vw;
        --size_126: 10.5vw;
        --size_130: 10.83vw;
        --size_132: 11vw;
        --size_144: 12vw;
        --size_150: 12.5vw;
        --size_200: 16.67vw;
        --header-height: var(--size_100);
    }
}

@include media.XL {
    :root {
        --size_8: 0.56vw;
        --size_10: 0.69vw;
        --size_12: 0.83vw;
        --size_14: 0.97vw;
        --size_15: 1.04vw;
        --size_16: 1.11vw;
        --size_18: 1.25vw;
        --size_20: 1.39vw;
        --size_22: 1.53vw;
        --size_24: 1.67vw;
        --size_26: 1.81vw;
        --size_28: 1.94vw;
        --size_30: 2.08vw;
        --size_32: 2.22vw;
        --size_34: 2.36vw;
        --size_36: 2.5vw;
        --size_38: 2.64vw;
        --size_40: 2.78vw;
        --size_41: 2.85vw;
        --size_42: 2.92vw;
        --size_44: 3.06vw;
        --size_45: 3.12vw;
        --size_48: 3.33vw;
        --size_50: 3.47vw;
        --size_52: 3.61vw;
        --size_55: 3.82vw;
        --size_56: 3.89vw;
        --size_60: 4.17vw;
        --size_64: 4.44vw;
        --size_68: 4.72vw;
        --size_70: 4.86vw;
        --size_72: 5vw;
        --size_75: 5.21vw;
        --size_80: 5.56vw;
        --size_82: 5.69vw;
        --size_86: 5.97vw;
        --size_88: 6.11vw;
        --size_90: 6.25vw;
        --size_94: 6.53vw;
        --size_96: 6.67vw;
        --size_100: 6.94vw;
        --size_106: 7.36vw;
        --size_110: 7.64vw;
        --size_112: 7.78vw;
        --size_120: 8.33vw;
        --size_126: 8.75vw;
        --size_130: 9.03vw;
        --size_132: 9.17vw;
        --size_144: 10vw;
        --size_150: 10.42vw;
        --size_200: 13.89vw;
    }
}

@include media.XXL {
    :root {
        --size_8: 0.42vw;
        --size_10: 0.52vw;
        --size_12: 0.63vw;
        --size_14: 0.73vw;
        --size_15: 0.78vw;
        --size_16: 0.83vw;
        --size_18: 0.94vw;
        --size_20: 1.04vw;
        --size_22: 1.15vw;
        --size_24: 1.25vw;
        --size_26: 1.35vw;
        --size_28: 1.46vw;
        --size_30: 1.56vw;
        --size_32: 1.67vw;
        --size_34: 1.77vw;
        --size_36: 1.88vw;
        --size_38: 1.98vw;
        --size_40: 2.08vw;
        --size_41: 2.14vw;
        --size_42: 2.19vw;
        --size_44: 2.29vw;
        --size_45: 2.34vw;
        --size_48: 2.5vw;
        --size_50: 2.6vw;
        --size_52: 2.71vw;
        --size_55: 2.86vw;
        --size_56: 2.92vw;
        --size_60: 3.13vw;
        --size_64: 3.33vw;
        --size_68: 3.54vw;
        --size_70: 3.65vw;
        --size_72: 3.75vw;
        --size_75: 3.91vw;
        --size_80: 4.17vw;
        --size_82: 4.27vw;
        --size_86: 4.48vw;
        --size_88: 4.58vw;
        --size_90: 4.69vw;
        --size_94: 4.9vw;
        --size_96: 5vw;
        --size_100: 5.21vw;
        --size_106: 5.52vw;
        --size_110: 5.73vw;
        --size_112: 5.83vw;
        --size_120: 6.25vw;
        --size_126: 6.56vw;
        --size_130: 6.77vw;
        --size_132: 6.88vw;
        --size_144: 7.5vw;
        --size_150: 7.81vw;
        --size_200: 10.42vw;
    }
}
