@use "../utils/media";
@use "../utils/mixins";

.product-page {
    &__container {
        gap: var(--size_24);
    }

    &__flower {
        &--top {
            inset-block-start: 0;
            inset-inline-end: 0;
        }

        &--bottom {
            inset-block-end: 0;
            inset-inline-start: 0;
        }
    }
}
// End inner

@include media.L {
    .product-page {
        overflow: visible;

        &__flower {
           @include mixins.square(var(--size_144));
        }

        &__container {
            grid-template-columns: repeat(2, 1fr);
            gap:  0 var(--size_24);
        }
        
        // &__title {
        //    height: max-content;
        //     grid-column: 2 / 3;
        // }
    
        &__slider {
            grid-row: 1 / 4;
        }

        &__profile {
            height: max-content;
            position: sticky;
            inset-block-start: calc(var(--header-height) + var(--size_32))
        }
    }
    // End inner
}
// End L

@include media.XL {
    .product-page {

        &__container {
            grid-template-columns: 2fr 1fr;

        }
    }
    // End inner
}
// End XL

// @include media.XXL {
//     .product-page {

//         &__container {
//             grid-template-columns: 27vw 36vw;
//         }
//     }
//     // End inner
// }
// // End XXL